*{
  margin: 0;
  padding: 0;
}
html{
    text-align: center;
}
#controlPanel{
  background: beige;
  width: 15em;
  float: left;
}
#board{
  display: flex;
  justify-content: center;
}
canvas{
  border: 1px solid black;
  display: block;
  background: beige;
}
