*{
  margin: 0;
  padding: 0;
}
html{
    text-align: center;
}
#controlPanel{
  background: beige;
  width: 15em;
  float: left;
}
#game{
  display: flex;
  justify-content: center;
  background: pink;
}
canvas{
  display: block;
  background: goldenrod;
}
